<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body class="bg-light">
  <div class="container py-5 text-center">
    <h1 class="display-4"><%= title %></h1>
    <p class="lead"><%= mensaje %></p>
    <% if (error) { %>
      <pre><%= error %></pre>
    <% } %>
    <a href="/" class="btn btn-primary mt-3">Volver al inicio</a>
  </div>
</body>
</html>
